# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://hgyykbhxedqnoxfgzawj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY

# Stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51Tc9pcV051WjxV8Aqncgal41SkzP2mdB4fu2ixuRbUBYmlbr08W3UFc1mWvB830Ezj9z5huOYC1lOeZ0rSpA8Cq700lJppDtlx
STRIPE_SECRET_KEY=YOUR_STRIPE_SECRET_KEY
STRIPE_PRICE_ID=price_1Tc9szV051WjxV8ArmyJhAZH
STRIPE_WEBHOOK_SECRET=YOUR_STRIPE_WEBHOOK_SECRET

# App
NEXT_PUBLIC_SITE_URL=https://your-app.vercel.app
